
<div style="color:red" id="text" height="170">
  <h3><%= @film %></h3>
  <p><%= @cause %></p>
  <p>Refresh to get another random death scene from Friday the 13th (1980) thru Friday the 13th Part VII: The New Blood</p>
</div>
<iframe width="768" height="480" src=<%= @link %>> </iframe>