html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  background-image: url(http://www.dvdtalk.com/reviews/images/reviews/274/full/1379724363_4.jpg);
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  width: 100%;
}

div#text{
  background-color: black;
  display: block;
  margin: 0 auto;
  border: 0;
  text-align: center;
  width: 768px;
}

iframe{
  display: block;
  margin: 0 auto;
  border: 0;
}

div#main {
  margin: 0;
  padding: 0 20px 20px;
}
h1 {
  color: maroon;
  font-size: 100%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  width: 98.5%;
  background-color: black;
  color: red;
  border-bottom: 4px solid grey;
  font-size: 2em;
  font-style: normal;
}

